[Unit]
Description=Jenkins Daemon

[Service]
ExecStart=/usr/bin/java -jar /usr/local/etc/jenkins.war
User=Ubuntu

[Install]
WantedBy=multi-user.target